     .color-0 {
         background-color: #f65314;
     }

     .color-1 {
         background-color: #7cbb00;
     }

     .color-2 {
         background-color: #00a1f1;
     }

     .color-3 {
         background-color: #ffbb00;
     }