body {
    margin: 0px;
}

.hidden {
    display: none !important;
}

.page {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.login-page {
    justify-content: center;
    align-items: center;
}

.login {
    display: table-cell;
    vertical-align: middle;
}

.game-page {
    justify-content: space-around;
}

.cell {
    border: 1px dotted lightgrey;
}

.square {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    text-align: center;
}

.unit {
    border-width: 2px;
    border-style: solid;
    border-color: white;
}

.wall {
    border-width: 2px;
    border-style: solid;
    border-color: grey;
    background-color: lightgrey;
}

.let {
    border-width: 2px;
    border-style: solid;
    border-color: ghostwhite;
    background-color: lightgrey;
}

h1 {
    text-align: center;
}

.user {
    color: white;
    text-align: center;
    border-radius: 5px;
}

.field-container,
.info-container {
    justify-content: center;
    align-items: center;
    display: flex;
}

.field {
    display: table-cell;
    vertical-align: middle;
}