body {
    margin: 0px;
}

.page {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.game-page {
    justify-content: space-around;
}

h1 {
    text-align: center;
}

.field-container,
.info-container {
    justify-content: center;
    align-items: center;
    display: flex;
}

.field {
    display: table-cell;
    vertical-align: middle;
}