.signin-page,
.signup-page,
.menu-page,
.rooms-page {
    justify-content: center;
    align-items: center;
}

.signin,
.signup,
.menu,
.rooms {
    display: grid;
    vertical-align: middle;
    width: 200px;
}