
.action{
    cursor: pointer;
}

.actions {
    margin: 2rem 0;
}

.button{
    width: fit-content !important;
}

.submit{
    border-color: var(--color-grey-dark);
}

.refresh{
    border-color: var(--color-grey-dark);
}