.cell {
    border: 1px dotted lightgrey;
}

.square {
    text-align: center;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
}

.empty{
    border-color: white;;
}

.unit {
    border-color: white;
}

.wall {
    border-color: var(--color-grey-dark);
    background-color: var(--color-grey-light);
}

.block {
    border-color: #f8f8ff;
    background-color: var(--color-grey-light);
}