.game-page {}

.middle{
    display: flex;
}

.space {
    flex: 1 1 auto;
}

.info {
    margin: 2rem 0;
    text-transform: uppercase;
}

.color-fg-0 {
    color: var(--color0);
}

.color-bg-0 {
    background-color: var(--color0);
}

.color-fg-1 {
    color: var(--color1);
}

.color-bg-1 {
    background-color: var(--color1);
}

.color-fg-2 {
    color: var(--color2);
}

.color-bg-2 {
    background-color: var(--color2);
}

.color-fg-3 {
    color: var(--color3);
}

.color-bg-3 {
    background-color: var(--color3);
}

.color-bg-b {
    border-width: 2px;
    border-style: solid;
    border-color: white;
    animation: blinkingBackground 750ms linear infinite;
}

@keyframes blinkingBackground {
    0% {
        background-color: #f65314;
    }

    100% {
        background-color: #d3d3d3;
    }
}