.loader-container {
    z-index: 1031;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
}

.loader {
    top: calc(50% - 71px);
    left: 50%;
	position: absolute;
}

.loader {
	width: 97px;
	height: 19px;
	transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
}

.loader > div {
	content: " ";
	width: 19px;
	height: 19px;
    /* background: rgb(33,150,243); */
    background-image: -webkit-linear-gradient(top, #337ab7 0%, #265a88 100%);
    background-image:      -o-linear-gradient(top, #337ab7 0%, #265a88 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#265a88));
    background-image:         linear-gradient(to bottom, #337ab7 0%, #265a88 100%);
    border-radius: 100%;
	position: absolute;
	animation: cssload-shift 2.3s linear infinite;
		-o-animation: cssload-shift 2.3s linear infinite;
		-ms-animation: cssload-shift 2.3s linear infinite;
		-webkit-animation: cssload-shift 2.3s linear infinite;
		-moz-animation: cssload-shift 2.3s linear infinite;
}

.loader > div:nth-of-type(1) {
	animation-delay: -0.46s;
		-o-animation-delay: -0.46s;
		-ms-animation-delay: -0.46s;
		-webkit-animation-delay: -0.46s;
		-moz-animation-delay: -0.46s;
}

.loader > div:nth-of-type(2) {
	animation-delay: -0.92s;
		-o-animation-delay: -0.92s;
		-ms-animation-delay: -0.92s;
		-webkit-animation-delay: -0.92s;
		-moz-animation-delay: -0.92s;
}

.loader > div:nth-of-type(3) {
	animation-delay: -1.38s;
		-o-animation-delay: -1.38s;
		-ms-animation-delay: -1.38s;
		-webkit-animation-delay: -1.38s;
		-moz-animation-delay: -1.38s;
}

.loader > div:nth-of-type(4) {
	animation-delay: -1.84s;
		-o-animation-delay: -1.84s;
		-ms-animation-delay: -1.84s;
		-webkit-animation-delay: -1.84s;
		-moz-animation-delay: -1.84s;
}

@keyframes cssload-shift {
	0% {
		left: -58px;
		opacity: 0;
	}
	10% {
		left: 0;
		opacity: 1;
	}
	90% {
		left: 97px;
		opacity: 1;
	}
	100% {
		left: 156px;
		opacity: 0;
	}
}

@-o-keyframes cssload-shift {
	0% {
		left: -58px;
		opacity: 0;
	}
	10% {
		left: 0;
		opacity: 1;
	}
	90% {
		left: 97px;
		opacity: 1;
	}
	100% {
		left: 156px;
		opacity: 0;
	}
}

@-ms-keyframes cssload-shift {
	0% {
		left: -58px;
		opacity: 0;
	}
	10% {
		left: 0;
		opacity: 1;
	}
	90% {
		left: 97px;
		opacity: 1;
	}
	100% {
		left: 156px;
		opacity: 0;
	}
}

@-webkit-keyframes cssload-shift {
	0% {
		left: -58px;
		opacity: 0;
	}
	10% {
		left: 0;
		opacity: 1;
	}
	90% {
		left: 97px;
		opacity: 1;
	}
	100% {
		left: 156px;
		opacity: 0;
	}
}

@-moz-keyframes cssload-shift {
	0% {
		left: -58px;
		opacity: 0;
	}
	10% {
		left: 0;
		opacity: 1;
	}
	90% {
		left: 97px;
		opacity: 1;
	}
	100% {
		left: 156px;
		opacity: 0;
	}
}