.cell {
    border: 1px dotted lightgrey;
}

.square {
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 5px;
    text-align: center;
}

.unit {
    border-width: 2px;
    border-style: solid;
    border-color: white;
}

.wall {
    border-width: 2px;
    border-style: solid;
    border-color: grey;
    background-color: lightgrey;
}

.let {
    border-width: 2px;
    border-style: solid;
    border-color: ghostwhite;
    background-color: lightgrey;
}